body {
  padding: 0px 25px 50px 25px;
}
h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p1.a {
  position: relative;
  left: 520px;
  bottom: 20px;
}
p2 {
  position: relative;
  left: 620px;
  bottom: 15px;
}
h2 {
  text-align: justify;
}
p.ss {
  position: relative;
  bottom: 20px;
  left: 45px;
  font-size: 17px;
}
p3 {
  position: relative;
  bottom: 20px;
  left: 45px;
  font-size: 17px;
}
p4 {
  position: relative;
  bottom: 20px;
  left: 45px;
  font-size: 17px;
}
p5 {
  position: relative;

  left: 45px;
  font-size: 17px;
}
p6 {
  position: relative;
  bottom: 7px;
  left: 45px;
  font-size: 17px;
}
p7 {
  position: relative;
  top: 7px;
  left: 45px;
  font-size: 17px;
}
p8 {
  position: relative;
  top: 5px;
  left: 45px;
  font-size: 17px;
}
